aiohttp[speedup]
orjson
git+https://github.com/Soheab/discord.py/@new-select-types
git+https://github.com/bryanforbes/asyncpg-stubs
python-dotenv
cachetools
inflection
asyncpg
urlextract
emoji
parsedatetime
python-dateutil
pytz
jishaku