aiohttp[speedup]
orjson
git+https://github.com/Rapptz/discord.py
git+https://github.com/bryanforbes/asyncpg-stubs
python-dotenv
cachetools
inflection
asyncpg
urlextract
emoji
parsedatetime
python-dateutil
pytz
jishaku
fuzzywuzzy