aiohttp[speedup]
orjson
git+https://github.com/Rapptz/discord.py
git+https://github.com/bryanforbes/asyncpg-stubs
python-dotenv
cachetools
asyncpg
parsedatetime
python-dateutil
pytz
git+https://github.com/Gorialis/jishaku/
fuzzywuzzy
aiofile
numpy
Pillow
python-Levenshtein
psutil
nudenet>=3.4.2
